@using Sidekick.Model
@model IEnumerable<FacilityList>

@{
    ViewData["Title"] = "Facility List";
}

<partial name="~/Views/Shared/_GenericModal.cshtml" />
<partial name="~/Views/Shared/_YesNoModal.cshtml" />

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">Facilities List</h3>
        </nav>
        <div class="col-sm-12 d-flex justify-content-end mb-3">
            <a class="text-black-50 btn-padding " href="@Url.Action("Export","Facility")"><i class="fas fa-file-excel fa-2x" style="color:#28a745"></i></a>
            <a class="btn login-button border-0 btn-padding" href="~/Facility/Add">Add Facility</a>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table cellspacing="5" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td><b>Filter by Dates:</b></td>                                     
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><b>From</b></td>
                                        <td><input type="text" class="form-control" id="minDate" name="minDate"></td>
                                        <td class=""><b>To</b></td>
                                        <td><input type="text" class="form-control" id="maxDate" name="maxDate"></td>
                                    </tr>


                                </tbody>
                            </table>
                            <table class="table table-hover table-bordered table-striped display" id="dtMainList">
                                <thead class="thead-light">
                                    <tr>
                                        <th hidden>Hidden Facility Id</th>
                                        <th scope="col" class="w-auto font-weight-bold">No.</th>
                                        <th scope="col" class="w-auto font-weight-bold">Facility</th>
                                        <th scope="col" class="w-auto font-weight-bold">Email</th>
                                        <th scope="col" class="w-auto font-weight-bold">Location</th>
                                        <th scope="col" class="w-auto font-weight-bold">Date Updated</th>
                                        <th scope="col" class="w-auto font-weight-bold">Pitch No.</th>
                                       @* <th scope="col" class="w-auto font-weight-bold">Booking Commission</th>*@
                                        @*<th scope="col" class="w-auto font-weight-bold">Status</th>*@
                                        <th scope="col" class="w-auto font-weight-bold">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model != null)
                                    {
                                        var itemNo = 1;
                                        foreach (FacilityList item in Model)
                                        {
                                            <tr>
                                                <td hidden class="facilityId">@item.FacilityId</td>
                                                <td>@itemNo</td>
                                                <td class="text-capitalize">@item.Name</td>
                                                <td><a class="blue-text font-weight-normal" href="~/Facility/Edit?u=@item.FacilityId">@item.Email</a></td>
                                                <td>@item.Location</td>
                                                <td>@item.DateUpdated.ToString("dd/MM/yyyy")</td>
                                                <td>@item.PitchNo</td>
                                               @* <td>@item.Commission</td>*@

                                                @*@if (item.IsEnabled == true)
                                                {
                                                    <td>
                                                        <p class="badge badge-success text-capitalize">ACTIVE</p>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <p class="badge badge-light text-capitalize">DELETED</p>
                                                    </td>
                                                }*@

                                                <td class="text-center">
                                                    <a href="~/Facility/Edit?u=@item.FacilityId"><i class="fas fa-pen fa-lg mr-3 text-warning"></i></a>
                                                    <a class="btn-delete-facility"><i class="fas fa-times fa-lg text-dark"></i></a>
                                                </td>
                                            </tr>
                                            itemNo++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
   
    <script type="text/javascript">
        $(document).ready(function () {          
            retainDataTablePages();
            renderDatePicker();
        });

        $(document).on('click', 'a.btn-delete-facility', function () {
            $("#YesNoModal").modal('show');
            $('#modalMsg').text('Do you want to delete it?');

            var facilityId = $(this).closest("tr").find(".facilityId").text();
            $("#btnYesDelete").click(function () {
                $("#YesNoModal").modal('hide');

                changeStatus(facilityId, false, true);
            });
        });

        function changeStatus(rid, stat) {
            var parameters = {
                GuID: rid,
                IsEnabled: stat
            };

            $.ajax(
                {
                    type: 'POST',
                    url: BASEPATH + '/Facility/Status',
                    contentType: 'application/json',
                    data: JSON.stringify(parameters),
                    beforeSend: function () {
                        $("#GenericModal").modal('show');
                        $("#GenericModalTitle").text("Please wait...");
                        $("#savingGenericLoader").show();
                    },
                    success: function (result) {
                        if (result.statusCode != 200) {
                            $("#GenericModal").modal('show');
                            $("#savingGenericLoader").hide();
                            $("#GenericModalTitle").text(result.message);
                            $("#errorIcon").show();
                            $("#errorBtn").show();
                        }
                        else if (result.status == 'Cancelled') {
                            $("#GenericModal").modal('show');
                            $("#savingGenericLoader").hide();
                            $("#GenericModalTitle").text(result.message);
                            $("#errorIcon").show();
                            $("#errorBtn").show();
                        }
                        else {
                            $("#errorIcon").hide();
                            $("#errorBtn").hide();
                            $("#savingGenericLoader").hide();
                            $("#GenericModal").modal('show');                          
                            $("#successIcon").show();
                            $("#GenericModalTitle").text("Success");

                            setTimeout(function () { window.location.replace(BASEPATH + "/Facility") }, 3000);
                        }
                    },
                    failed: function (e, x, h) {
                        console.log(e); console.log(h); console.log(x);
                    }
                }
            );
        }
    </script>
}
