@model Sidekick.Model.TrainRenderViewModel

@{
    ViewData["Title"] = "Train Bookings";
    int counter = 0;
}

<partial name="~/Views/Shared/_GenericModal.cshtml" />
<partial name="~/Views/Shared/_YesNoModal.cshtml" />

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-classes-tab" data-toggle="pill" href="#pills-classes" role="tab" aria-controls="pills-classes" aria-selected="true">Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-booking-tab" data-toggle="pill" href="#pills-booking" role="tab" aria-controls="pills-booking" aria-selected="false">Booking</a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-classes" role="tabpanel" aria-labelledby="pills-classes-tab">
                <div class="card yellow-top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <nav aria-label="breadcrumb">
                                    <h3 class="mb-4">Train Classes</h3>
                                </nav>

                                <div class="col-sm-12 d-flex justify-content-end mb-3">
                                    <a class="text-black-50 btn-padding " href="@Url.Action("Export","Coaching")"><i class="fas fa-file-excel fa-2x" style="color:#28a745"></i></a>
                                    <a class="btn login-button border-0 btn-padding" href="~/Coaching/AddCoaching">Create Coaching</a>
                                </div>

                                <div class="table-responsive">
                                    <table cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td><b>Filter by Dates:</b></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center"><b>From</b></td>
                                                <td><input type="text" class="form-control" id="minDate" name="minDate"></td>
                                                <td class=""><b>To</b></td>
                                                <td><input type="text" class="form-control" id="maxDate" name="maxDate"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-hover table-bordered table-striped display" id="dtMainList">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="w-auto font-weight-bold">ID</th>
                                                <th scope="col" class="w-auto font-weight-bold">Type</th>
                                                <th scope="col" class="w-auto font-weight-bold">Coach</th>
                                                <th scope="col" class="w-auto font-weight-bold">Email</th>
                                                <th scope="col" class="w-auto font-weight-bold">Slot</th>
                                                <th scope="col" class="w-auto font-weight-bold">Created Date</th>
                                                <th scope="col" class="w-auto font-weight-bold">Price</th>
                                                <th scope="col" class="w-auto font-weight-bold">Booking Comission</th>
                                                @*<th scope="col" class="w-auto font-weight-bold">Status</th>*@
                                                <th scope="col" class="w-auto font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Classes != null)
                                            {
                                                @foreach (var trainingBooking in Model.Classes)
                                                {
                                                    counter++;
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@trainingBooking.TrainingType</td>
                                                        <td>@trainingBooking.CoachName</td>
                                                        <td>@trainingBooking.CoachUserEmail</td>
                                                        @*@if (@trainingBooking.ScheduleFrom.ToShortTimeString() == "12:00 AM" || @trainingBooking.ScheduleTo.ToShortTimeString() == "12:00 AM")
                                                            {
                                                                <td>Closed</td>
                                                            }*@

                                                        <td>@trainingBooking.ScheduleFrom.ToShortTimeString() - @trainingBooking.ScheduleTo.ToShortTimeString()</td>


                                                        <td>@trainingBooking.CreatedDate.ToString("dd/MM/yyyy")</td>
                                                        <td>@trainingBooking.Price AED</td>
                                                        <td>@trainingBooking.Commission.ToString("0.00")%</td>
                                                        @* @if (trainingBooking.IsEnabled == true)
                                                            {
                                                                <td>
                                                                    <p class="badge badge-success text-capitalize">ACTIVE</p>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <p class="badge badge-light text-capitalize">INACTIVE</p>
                                                                </td>
                                                            }*@
                                                        <td class="text-center">
                                                            <input type="hidden" id="group-classId" value="@trainingBooking.GroupClassId" />
                                                            <a href="~/Coaching/EditCoaching?u=@trainingBooking.GroupClassId"><i class="fas fa-pen fa-lg mr-3 text-warning"></i></a>
                                                            <a class="btn-delete-coaching"><i class="fas fa-times fa-lg text-dark"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-booking" role="tabpanel" aria-labelledby="pills-booking-tab">
                <div class="card yellow-top">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <nav aria-label="breadcrumb">
                                    <h3 class="mb-4">Train Bookings</h3>
                                </nav>

                                <div class="col-sm-12 d-flex justify-content-end mb-3">
                                    <a class="text-black-50 btn-padding " href="@Url.Action("BookingExport","Coaching")"><i class="fas fa-file-excel fa-2x" style="color:#28a745"></i></a>
                                </div>

                                <div class="table-responsive">
                                    <table cellspacing="5" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td><b>Filter by Dates:</b></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center"><b>From</b></td>
                                                <td><input type="text" class="form-control" id="minDateBooking" name="minDateBooking"></td>
                                                <td class=""><b>To</b></td>
                                                <td><input type="text" class="form-control" id="maxDateBooking" name="maxDateBooking"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-hover table-bordered table-striped display" id="dtBookingList">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="w-auto font-weight-bold">ID</th>
                                                <th scope="col" class="w-auto font-weight-bold">Type</th>
                                                <th scope="col" class="w-auto font-weight-bold">UserName</th>
                                                <th scope="col" class="w-auto font-weight-bold">Slot</th>
                                                <th scope="col" class="w-auto font-weight-bold">Booking Date</th>
                                                <th scope="col" class="w-auto font-weight-bold">Price</th>
                                                <th scope="col" class="w-auto font-weight-bold">Booking Comission</th>
                                                <th scope="col" class="w-auto font-weight-bold">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Bookings != null)
                                            {
                                                @foreach (var trainingBooking in Model.Bookings)
                                                {
                                                    counter++;
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@trainingBooking.BookingType</td>
                                                        <td>@trainingBooking.CoachFirstName @trainingBooking.CoachLastName</td>
                                                        <td>@trainingBooking.Date.ToShortTimeString() - @trainingBooking.EndDate.ToShortTimeString()</td>
                                                        <td>@trainingBooking.Date.ToString("dd/MM/yyyy")</td>
                                                        <td>@trainingBooking.BookingAmount AED</td>
                                                        <td>@trainingBooking.CommissionAmount.ToString("0.00")%</td>
                                                        <td>@trainingBooking.Status</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            renderDatePicker();
            renderBookingDatePicker();
            retainDataTablePages();

            let SESSION_PRODUCT_PAGES = 'SESSION_PRODUCT_PAGES';
            let SESSION_PRODUCT_PAGE = 'SESSION_PRODUCT_PAGE';
            let SESSION_PRODUCT_PAGE_LENGTH = 'SESSION_PRODUCT_PAGE_LENGTH';

            let pageLength = 10;
            let currentPageLength = localStorage.getItem(SESSION_PRODUCT_PAGE_LENGTH);
            if (currentPageLength) {
                pageLength = +currentPageLength;
            }

            var dtBookingList = $('#dtBookingList').DataTable({
                "orderCellsTop": true,
                "search": true,
                "info": true,
                "lengthChange": false,
                "columnDefs": [
                    { orderable: true, className: 'reorder', targets: 0 },
                ],
                "autoWidth": true,
                "pageLength": pageLength,
                "pagingType": "full_numbers",
                "sPaginationType": "listbox",
                "aaSorting": [],
            });

            $('#dtBookingList').on('page.dt', function () {
                var info = dtBookingList.page.info();
                localStorage.setItem(SESSION_PRODUCT_PAGES, info.pages);
                localStorage.setItem(SESSION_PRODUCT_PAGE, info.page);
            });

            $('#dtBookingList').on('length.dt', function (e, settings, len) {
                localStorage.setItem(SESSION_PRODUCT_PAGE_LENGTH, len);
            });

            let currentPage = localStorage.getItem(SESSION_PRODUCT_PAGE);
            if (currentPage) {
                dtMainList.page(+currentPage).draw('page');
            }

            addExtraButtons();
            $('#dtBookingList').on("draw.dt", function (e) {
                addExtraButtons();
            });

            function addExtraButtons() {

                $("#dtBookingList_paginate .first").after("<li class='paginate_button page-item'><a class='page-link quick_previous'><<</a></li>");
                $("#dtBookingList_paginate .last").before("<li class='paginate_button page-item'><a class='page-link quick_next'>>></a></li>");
                var currentPage = dtMainList.page.info();
                if (currentPage.pages - 1 == currentPage.page) {
                    $(".quick_next").addClass("disabled")
                } else if (currentPage.page == 0) {
                    $(".quick_previous").addClass("disabled")
                }

                $(".quick_next").on("click", quickNext);
                $(".quick_previous").on("click", quickPrevious);

                function quickNext(e) {

                    var pageToGoTo = (currentPage.page + 2) >= currentPage.pages ? currentPage.pages - 1 : (currentPage.page + 2);
                    dtMainList.page(pageToGoTo).draw(false);
                }

                function quickPrevious(e) {

                    var pageToGoTo = (currentPage.page - 2) <= 0 ? 0 : (currentPage.page - 2);
                    dtMainList.page(pageToGoTo).draw(false);
                }
            }


            var ShowModal = $("#ShowGenericModal").val();
            if (ShowModal == 'true') {
                $("#GenericModal").modal('show');
                $("#successIcon").show();
                $('#successBtn').hide();
                $("#successAddCoachingBtn").show();
            }

            //duplicate entry
            if (ShowModal == 'false') {
                $("#GenericModal").modal('show');
                $("#errorIcon").show();
                $("#errorAddCoachingBtn").show();
                $("#errorBtn").hide();
            }

            $("#successAddCoachingBtn").on('click', function () {
                window.location.replace(BASEPATH + "/Coaching");
            });

            $('.btn-delete-coaching').click(function () {
                $("#YesNoModal").modal('show');
                $('#modalMsg').text('Do you want to delete it?')
                var timingId = $(this).closest('td').find('#group-classId').val()
                $("#btnYesDelete").click(function () {
                    $("#YesNoModal").modal('hide');

                    deleteSlot(timingId, false, true);
                });
            });

            function deleteSlot(rid, stat) {
                var parameters = {
                    GuID: rid,
                    IsEnabled: stat
                };

                $.ajax(
                    {
                        type: 'POST',
                        url: BASEPATH + '/Coaching/Delete',
                        contentType: 'application/json',
                        data: JSON.stringify(parameters),
                        beforeSend: function () {
                            $("#GenericModal").modal('show');
                            $("#GenericModalTitle").text("Please wait...");
                            $("#savingGenericLoader").show();
                        },
                        success: function (result) {
                            if (result.statusCode != 200) {
                                $("#GenericModal").modal('show');
                                $("#savingGenericLoader").hide();
                                $("#GenericModalTitle").text(result.message);
                                $("#errorIcon").show();
                                $("#errorAddSlotBtn").show();
                            }
                            else if (result.status == 'Cancelled') {
                                $("#GenericModal").modal('show');
                                $("#savingGenericLoader").hide();
                                $("#GenericModalTitle").text(result.message);
                                $("#errorIcon").show();
                                $("#errorAddSlotBtn").show();
                            }
                            else {
                                $("#errorIcon").hide();
                                $("#savingGenericLoader").hide();
                                $("#errorBtn").hide();
                                $("#GenericModal").modal('show');
                                $("#successIcon").show();
                                $("#GenericModalTitle").text("Successfully deleted a train class booking.");

                                setTimeout(function () { window.location.replace(BASEPATH + "/Coaching") }, 3000);
                            }
                        },
                        failed: function (e, x, h) {
                            console.log(e); console.log(h); console.log(x);
                        }
                    }
                );
            }
        });

        $("#errorAddCoachingBtn").on('click', function () {
            window.location.replace(BASEPATH + "/Coaching/AddCoaching");
        });
    </script>
}