@model Sidekick.Model.SetupConfiguration.SetupConfiguration;

<div class="card-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between my-3 align-items-center">
                <h6 class="m-0">Specialities</h6>
                <a href="#addSpecialityModal" data-toggle="modal" data-target="#addSpecialityModal" class="text-warning"><i class="fas fa-plus"></i> Add Specalities</a>
            </div>
            <div class="row">
                @if (Model != null)
                {
                    @foreach (var specialty in Model.Specialties)
                    {
                        <div class="col-sm-4 gray-right">
                            <div class="d-flex justify-content-between align-items-center mb-3 align-items-center">
                                <div class="d-flex align-items-center col-sm-9">
                                    @if (specialty.Icon != null)
                                    {
                                        <img class="img-fluid mr-4 rounded-circle" id="imgPrevUploadProfileImage" src="@specialty.Icon" style="width: 35px; height: 35px;" />
                                    }
                                    else
                                    {
                                        <img src="~/img/default-img.jpg" class="mr-4 rounded-circle" style="width: 35px; height: 35px;" />
                                    }
                                    <h6 class="m-0">@specialty.Name</h6>
                                </div>
                                <a href="#editSpecialtyModal" data-toggle="modal" data-target="#editSpecialtyModal" class="text-warning mr-3" onclick="editSpecialty('@specialty.SpecialtyId', '@specialty.Name', '@specialty.Icon')">Edit</a>
                                <a href="#deleteSpecialtyCategoryModal" data-toggle="modal" data-target="#deleteSpecialtyCategoryModal" onclick="deleteSpecialty('@specialty.SpecialtyId', '@specialty.Name')" class="text-danger">Delete</a>
                            </div>
                        </div>

                    }
                }

            </div>
        </div>
    </div>
</div>