@using Sidekick.Model
@model IEnumerable<FacilityPitchList>

@{
    ViewData["Title"] = "Facility Pitches";
    Layout = "~/Views/Shared/_FLayout.cshtml";

}

<div class="row pb-5">
    <div class="col-sm-12 col-lg-3">
        <div class="box-settings">
            <ul class="list-unstyled">
                <li class="px-3"><a href="~/Facility/UpdateProfile"><i class="fas fa-user mr-3 text-warning"></i>Facility Information</a></li>
                <li class="active px-3"><a href="~/FacilityPitch"><i class="fas fa-th text-warning mr-3"></i>Pitch Management</a></li>
                <li class="px-3"><a href="~/FacilityUser"><i class="fas fa-users text-warning mr-3"></i>User Management</a></li>
                <li class="px-3"><a href="~/FacilityPlayer"><i class="fas fa-user-friends text-warning mr-3"></i>Player Management</a></li>
                <li class="px-3"><a href="~/Facility/PaymentHistory"><i class="fas fa-file-invoice-dollar text-warning mr-3"></i>Payment History</a></li>
                <li class="px-3"><a href="~/Facility/Reports"><i class="fas fa-cog text-warning mr-3"></i>Reports</a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-lg-9">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <div>
                        <a href="~/FacilityPitch" class="px-75 py-1 text-white mr-2 f-s11 ph-link active">Pitch</a>
                    </div>
                </div>
                <a href="~/FacilityPitch/Add" class="btn login-button btn-save"><i class="fas fa-plus"></i> New Pitch</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped display" id="dtMainList">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="th-sm font-weight-bold">Pitch No.</th>
                                <th scope="col" class="th-sm font-weight-bold">Pitch Name</th>
                                <th scope="col" class="th-sm font-weight-bold">Pitch Photo</th>
                                <th scope="col" class="th-sm font-weight-bold">Sport</th>
                                <th scope="col" class="th-sm font-weight-bold">Date Created</th>
                                <th scope="col" class="th-sm font-weight-bold">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                var itemNo = 1;
                                foreach (FacilityPitchList item in Model)
                                {
                                    <tr>
                                        <td>@itemNo</td>
                                        <td>
                                            <a href="FacilityPitch/Edit?facilityPitchId=@item.FacilityPitchId.ToString()&sportId=@item.SportId.ToString()" style="color: #007bff;"><u> @item.Name</u></a>
                                        </td>
                                        <td class="align-items-center">
                                            <img src="@item.ImageUrl" style='width:50px;height:50px;' class="rounded">
                                        </td>
                                        <td>@item.Sport</td>
                                        <td>@item.CreatedDate.GetValueOrDefault().ToShortDateString()</td>
                                        <td class="align-items-center">
                                            <a href="@Url.Action("Edit", "FacilityPitch", new { facilityPitchId = @item.FacilityPitchId.ToString(), sportId = @item.SportId.ToString() })" class="edit-pitch-icon"><i class="fas fa-pen fa-lg  text-warning"></i></a>
                                        </td>
                                    </tr>
                                    itemNo++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            retainDataTablePages();
        });
    </script>
}
